
<div class="padding">
	<div class="col-md-2">
		<strong><%= comment.user.try(:user_name) %></strong>
	</div>
	<div class="col-md-9 col-md-offset-1">
		<small><%= comment.content %></small>
	</div>
</div>