/* line 1, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#masonry-container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
/* line 5, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#masonry-container .box {
  margin: 5px;
  padding: 0px;
  width: 180px;
  box-shadow: 0 1px 10px 0 #010000;
  border: 0px;
  border-radius: 0px;
  text-align: center;
}
/* line 13, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#masonry-container .box img {
  max-width: 100%;
  margin: 0px;
  border-radius: 0px;
  height: auto;
}
/* line 19, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#masonry-container .box .desc-box {
  padding: 10px;
}
/* line 22, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#masonry-container .box h2 {
  font-size: 22px;
  margin: 0;
  padding: 25px 10px;
}
/* line 26, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#masonry-container .box h2 a {
  color: #474747;
}
/* line 30, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#masonry-container .box .user {
  font-size: 12px;
  border-top: 1px solid #EAEAEA;
  padding: 15px;
  margin: 0;
}

/* line 41, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#pin_show .panel-heading {
  padding: 0;
}
/* line 45, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#pin_show .pin_image img {
  max-width: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}
/* line 52, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#pin_show .panel-body {
  padding: 35px;
}
/* line 54, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#pin_show .panel-body h1 {
  margin: 0 0 10px 0;
}
/* line 57, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#pin_show .panel-body .description {
  color: #868686;
  line-height: 1.75;
  margin: 0;
}
/* line 63, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#pin_show .panel-footer {
  padding: 20px 35px;
}
/* line 65, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#pin_show .panel-footer p {
  margin: 0;
}
/* line 68, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
#pin_show .panel-footer .user {
  padding-top: 8px;
}

/* line 74, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 75, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
.clearfix:after {
  clear: both;
}

/* line 76, c:/Sites/dreamo/app/assets/stylesheets/masonry.css.scss */
.clearfix {
  zoom: 1;
}
